.info {
  border-style: solid;
  height: 400px;
  width: 40%;
  position: fixed;
  left: 30%;
  top: 30%;
  background-color: white;
}

/* html {
  background-image: url("greenBackRain.png");
  background-size: contain;
} */

.info > img {
  float: left;
  width: 300px;
  height: 300px;
}

.textInfo {
  position: fixed;
  left: 50%;
  top: 40%;
  font-size: 22px;
}
