.info {
  margin: auto;
  border-style:solid;
  /* height:350px; */
  width:40%;
  /* position:fixed; */
  /* left:30%;
  top:10%; */
  background-color: tan;
  margin-bottom: 5%;
}
/* added info2 */
.info2 {
  margin: auto;
  border-style:solid;
  width:40%;
  background-color: tan;
}

/* different url */
html {
background-image: url("images/greenSquares.jpg");
background-size:contain;
}

/* changed width of imgs */
.info > img{
  float:left;
  width:40%;
}
.info2 > img{
  float:left;
  width:40%;
}

/* changed margin and padding */
.textInfo {
  margin-top: 10%;
  padding-bottom:10%;
  margin-left:10%;
  font-size: 22px;
}